---
title: "Getting Started with freistilbox"
---

<h1>Getting started with freistilbox</h1>

<p>We've designed the freistilbox Managed Hosting Platform to be much more
powerful than a conventional hosting environment. In order to give you a great
experience running your Drupal and WordPress websites, we've done many things
differently. That's why working with freistilbox may also be a bit different
from what you are used to.</p>

<p>In this tutorial, we'll guide you on your first steps using freistilbox.
Getting your first website launched on freistilbox will take you about an hour.
Over time, you'll get more routine and using freistilbox will become second
nature to you.</p>

<p><span class="warning">Warning</span> You'll probably have so much fun with
freistilbox that, after using it for a few weeks, the thought of doing things
the old way again will make you shudder.</p>

<p><strong>So let's get rolling!</strong></a>

<ul>
  <li><%= link_to "The Basics", "background.html" %></li>
  <li><%= link_to "Creating your first web app", "website.html" %></li>
  <li><%= link_to "Platform services", "services.html" %></li>
  <li><%= link_to "Deploying your application", "deployment.html" %></li>
  <li><%= link_to "Application setup", "setup.html" %></li>
</ul>

